<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dung.dungdaopetstore">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".SplashScreen"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".loginsignup.LoginActivity"
                android:label="@string/app_title_login">
        </activity>
        <activity
                android:name=".user.UserActivity"
                android:label="@string/title_activity_user">
        </activity>
        <activity android:name=".user.userbuy.UserBuyActivity"
                  android:theme="@style/AppTheme.PlusNoActionBar">
        </activity>
        <activity android:name=".user.userorder.UserOrderActivity">
        </activity>
        <activity android:name=".user.useraddpet.UserAddPetActivity">
        </activity>
        <activity android:name=".user.usercommunity.UserCommunityActivity">
        </activity>
        <activity android:name=".loginsignup.SignUpActivity">
        </activity>
        <activity
                android:name=".staff.StaffActivity"
                android:label="@string/title_activity_staff"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".user.userbuy.UserBuyInformationActivity">
        </activity>
        <activity android:name=".user.useraddpet.UserPetListActivity">
        </activity>
        <activity android:name=".user.usersell.UserSellPetActivity">
        </activity>
        <activity android:name=".user.userupdate.UserUpdateActivity">
        </activity>
        <activity android:name=".user.userpurchase.UserPurchaseActivity">
        </activity>
        <activity android:name=".user.useraddpet.UserPetUpdateActivity">
        </activity>
        <activity android:name=".user.useraddpet.UserPetShareActivity">
        </activity>
        <activity android:name=".user.userchat.UserChatActivity"
                  android:theme="@style/AppTheme.PlusNoActionBar"
                  android:label="">
        </activity>
        <activity android:name=".staff.StaffChatActivity"
                  android:theme="@style/AppTheme.PlusNoActionBar"
                  android:label="">
        </activity>
    </application>

</manifest>