<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dung.dungdaopetstore">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".introduce.SplashScreen"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".loginsignup.LoginActivity"
                android:label="@string/app_title_login">
        </activity>
        <activity
                android:name=".user.UserActivity"
                android:label="@string/title_activity_user">
        </activity>
        <activity
                android:name=".user.userbuy.UserBuyActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.UserActivity" />
        </activity>
        <activity
                android:name=".user.userorder.UserOrderActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.UserActivity" />
        </activity>
        <activity
                android:name=".user.useraddpet.UserAddPetActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.useraddpet.UserOwnerPetActivity" />
        </activity>
        <activity
                android:name=".user.usercommunity.UserCommunityActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.UserActivity" />
        </activity>
        <activity
                android:name=".loginsignup.SignUpActivity"
                android:label=""
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".loginsignup.LoginActivity" />
        </activity>
        <activity
                android:name=".staff.StaffActivity"
                android:label="@string/title_activity_staff"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".user.userbuy.UserBuyInformationActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.userbuy.UserBuyActivity" />
        </activity>
        <activity
                android:name=".user.useraddpet.UserOwnerPetActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.UserActivity" />
        </activity>
        <activity
                android:name=".user.usersell.UserSellPetActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.UserActivity" />
        </activity>
        <activity
                android:name=".user.userupdate.UserUpdateActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.UserActivity" />
        </activity>
        <activity
                android:name=".user.userpurchase.UserPurchaseActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.UserActivity" />
        </activity>
        <activity
                android:name=".user.useraddpet.UserPetUpdateActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.useraddpet.UserOwnerPetActivity" />
        </activity>
        <activity
                android:name=".user.useraddpet.UserPetShareActivity"
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.useraddpet.UserOwnerPetActivity" />
        </activity>
        <activity
                android:name=".user.userchat.UserChatActivity"
                android:label=""
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.UserActivity" />
        </activity>
        <activity
                android:name=".staff.StaffChatActivity"
                android:label=""
                android:theme="@style/AppTheme.PlusNoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".staff.StaffActivity" />
        </activity>
        <activity android:name=".introduce.IntroduceActivity">
        </activity>
        <activity android:name=".user.userpurchase.UserPurchaseInformationActivity"
                android:theme="@style/AppTheme.PlusNoActionBar"
                android:label="">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".user.userpurchase.UserPurchaseActivity" />
        </activity>
    </application>

</manifest>